<footer>
<nav class="round">
<ul>
<li><%= link_to "Acerca de", acerca_path %></li>
<li><%= link_to "Contacto", contacto_path %></li>
<li><a href="http://www.solobasket.com/">Noticias</a></li>
</ul>
</nav>
</footer>
